---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "../_sass/reset";
@import "../_sass/variables";
@import "../_sass/layout";
@import "../_sass/mixins";
@import "../_sass/masthead";
@import "../_sass/intro-text";
@import "../_sass/navigation";
@import "../_sass/triple-photo";
@import "../_sass/student-profiles";
@import "../_sass/split-row__left";
@import "../_sass/split-row__right";
@import "../_sass/footer";
