<footer class="site-footer">
  <section class="site-footer__company-info">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/images/logo_horiz_white.svg" alt="Red Sweater Project logo" />
    </a>
    <p>© 2016</p>
    <p>1000 SW Forest Meadows Way</p>
    <p>Lake Oswego, OR 97034</p>
  </section>
  <nav class="site-footer__nav">
    <ul class="site-footer__nav--utility-nav">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">News+Reviews</a></li>
    </ul>
  </nav>
  <section class=site-footer__nav--social-media>
    <a href="#"><i class="menu fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="menu fa fa-twitter" aria-hidden="true"></i></a>
  </section>
</footer>
