<footer class="site-footer">
  <section class="site-footer__company-info">
    <a class="company-info__site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <p>Copyright 2016</p>
    <p>1000 SW Forest Meadows Way</p>
    <p>Lake Oswego, OR 97034</p>
  </section>
  <nav class="site-footer__nav">
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Privacy Polic</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News+Reviews</a></li>
    </ul>
  </nav>
  <section class="site-footer__social-media">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </section>

</footer>
