<nav>
  <ul>
    <li {% if page.folder == 'who-we-are' %}class="active"{% endif %}>
      <a href="/who-we-are">Who We Are</a>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'who-we-are' %}
        <li>
          <a href="{{ site.baseurl }}/who-we-are/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li {% if page.folder == 'what-we-do' %}class="active"{% endif %}>
      <a href="/what-we-do">What We Do</a>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'what-we-do' %}
        <li>
          <a href="{{ site.baseurl }}/what-we-do/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul
    </li>
    <li {% if page.folder == 'get-involved' %}class="active"{% endif %}>
      <a href="/get-involved">Get Involved</a>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'get-involved' %}
        <li>
          <a href="{{ site.baseurl }}/get-involved/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li {% if page.folder == 'sponsor' %}class="active"{% endif %}>
      <a href="/sponsor">Sponsor</a>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'sponsor' %}
        <li>
          <a href="{{ site.baseurl }}/sponsor/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li class="donate{% if page.folder == 'donate' %} active{% endif %}"><a href="/donate">Donate</a></li>
    <li class="contact{% if page.folder == 'contact' %} active{% endif %}"><a href="/contact">Contact</a></li>
    <li><a href="#"><i class="menu fa fa-bars" aria-hidden="true"></i></a></li>
  </ul>
</nav>
