<nav id="sub-navigation">
  <img class="arrow" src="/images/triangle.svg" alt="black arrow" />
  <i class="close-menu">X</i>
  <div class="sub-navigation__container">
    <div class="sub-navigation--section who-we-are">
      <h2>Who We Are</h2>
      <i class="yellow-triangle">
        <img src="/images/yellow-triangle.svg" alt="yellow triangle" />
      </i>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'who-we-are' %}
        <li>
          <a href="{{ site.baseurl }}/who-we-are/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="sub-navigation--section what-we-do">
      <h2>What We Do</h2>
      <i class="yellow-triangle">
        <img src="/images/yellow-triangle.svg" alt="yellow triangle" />
      </i>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'what-we-do' %}
        <li>
          <a href="{{ site.baseurl }}/what-we-do/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="sub-navigation--section get-involved">
      <h2>Get Involved</h2>
      <i class="yellow-triangle">
        <img src="/images/yellow-triangle.svg" alt="yellow triangle" />
      </i>
      <ul>
        {% for page in site.pages %}
          {% if page.folder == 'get-involved' %}
        <li>
          <a href="{{ site.baseurl }}/get-involved/{{ page.link }}">{{page.title}}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="sub-navigation--column">
      <div class="sponsor">
        <h2>Sponsor</h2>
        <ul>
          {% for page in site.pages %}
            {% if page.folder == 'sponsor' %}
          <li>
            <a href="{{ site.baseurl }}/sponsor/{{ page.link }}">{{page.title}}</a>
          </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="donate">
        <h2><a href="/donate">Donate</a></h2>
      </div>
      <div class="contact">
        <h2><a href="/contact">Contact</a></h2>
      </div>
    </div>
    <div class="contact-form">
      <form>
        <label for="name">Your name</label>
        <input type="text" name="name">
        <label for="email">Email address</label>
        <input type="text" name="email">
        <label for="comments">Comments</label>
        <textarea name="comments"></textarea>
        <button type="submit" name="button">Send</button>
      </form>
    </div>
  </div>
</nav>
