footer.site-footer
  background-color: $black
  display: flex
  align-items: center
  height: 100px
  @extend %navigation-label
  color: $white
  line-height: 20px
  .site-footer__company-info
    flex: 1 1 25%
    justify-content: flex-start
  nav
    display: flex
    flex: 1 1 50%
    ul
      height: 60px
      width: 100%
      display: flex
      flex-flow: column wrap
      li
        margin-right: $space
    .site-footer__nav--social-media
      display: flex
