@import "../css/font-awesome.min.css"
@font-face
.masthead
  height: 50vh
  background-color: red
  display: flex
  flex-direction: column
  h2
    height: 30vh
    width:100%
    height: 60%
    @extend %title
    text-align: center
    align-self: flex-end
