header
  display: flex
  position: relative
  height: 72px
  align-items: center
  .logo
    flex: 1 1 50%
    justify-content: flex-start
    margin: $space 0 $space $space
    img
      height: 32px
    @include media($medium, $desktop)
      flex: 1 1 25%
    @include media($small, $medium)
      flex: 1 1 16.66666666666%
  nav#main-navigation
    flex: 1 1 50%
    margin: $space $space $space 0
    @extend %navigation-label
    color: $gray
    height: 100%
    @include media($medium, $desktop)
      flex: 1 1 75%
    @include media($small, $medium)
      flex: 1 1 83.3333333333333%
    @include media(0, $small)
      .who-we-are, .what-we-do, .get-involved, .sponsor
        display: none
    &>ul
      display: flex
      justify-content: space-between
      align-items: center
      height: 100%
      li
        display: flex
        flex: 1 1 auto
        justify-content: center
        align-items: center
        height: 100%
        a
          padding: $space 0
        &.active
          border-top: 2px solid $red
          color: $red
          @include media($small, $medium)
            border-top: none
            a
              border-bottom: 3px solid $red
    .donate a
      background-color: $red
      border-radius: 3px
      color: $white
      padding: 10px 12px
    .menu
      cursor: pointer
      img
        width: 34px
        height: 40px

nav#sub-navigation
  position: absolute
  top: 72px
  left: 0px
  width: 100%
  background-color: $black
  opacity: 0.9
  height: 328px
  display: flex
  justify-content: center
  display: none
  .arrow
    position: absolute
    top: -14px
    right: 35px
    width: 30px
    height: 15px
  .close-menu
    cursor: pointer
    position: absolute
    top: 20px
    right: 35px
    font-size: 50px
    font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
    color: $white
  .sub-navigation__container
    margin: 0 8.333333333333333%
    display: flex
    justify-content: space-around
    flex: 1 1 auto
  .sub-navigation--column
    display: flex
    flex-direction: column
  h2
    font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
    font-weight: bold
    text-transform: uppercase
    font-size: 22px
    color: $yellow
    margin-top: $space * 2
  ul
    color: $white
    font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
    font-weight: 400
    font-size: 16px
    li
      margin-top: $space
