// COLORS

$red: rgb(174, 50, 41)
$blue: rgb(49, 119, 160)
$yellow: rgb(253, 190, 22)
$gray: rgb(111, 111, 110)
$dark-gray: rgb(40, 40, 40)
$white: rgb(255, 255, 255)
$black: rgb(27, 27, 27)
$shadow-black: #515151

// BREAKPOINTS

$maximum: 1224px
$desktop: 1100px
$medium: 900px
$tablet: 768px
$small: 630px
$phone: 320px

// FONTS

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700|Source+Sans+Pro:400,300,400italic,300italic,700,600,600italic,700italic,900)

%section
  padding: 8% 5%

%title
  font-family: 'Amatic SC', cursive
  font-size: 44pt
  line-height: 66px
  color: $white
  text-align: center
  background-color: transparentize($shadow-black, .8)
  @media screen and (min-width: $tablet)
    font-size: 35pt
    text-align: left

%quote
  font-family: 'Amatic SC', cursive
  font-size: 2em
  color: $blue
  text-align: center
  margin-bottom: 5%

%section-header
  text-transform: uppercase
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-size: 38px
  line-height: 38px
  letter-spacing: 2px
  font-weight: 300
  margin: 5% 0

%paragraph
  font-size: 22px
  line-height: 25px
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-weight: 400
  margin-bottom: 2%

%navigation-label
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-weight: 400
  text-transform: uppercase
  font-size: 16px

%footer-text
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-weight: 400
  font-size: 14px
  text-transform: uppercase
  color: $white

%ordered-list
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-weight: 500
  font-size: 20px
  line-height: 22px
  text-transform: uppercase
  margin-bottom: 2%
  @media screen and (min-width: $tablet)
    margin-top: 10%

%split-box-header
  text-transform: uppercase
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-size: 38px
  line-height: 38px
  letter-spacing: 2px
  font-weight: 400

%split-box-paragraph
  font-size: 16px
  line-height: 22px
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  font-weight: 600

// LAYOUT

$space: 20px
